.text-center{
	text-align: center;
}
.feed{
    margin-top: 5px;
	margin-bottom: 5px;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
}
.icon {
     font-size: 35px;
     color: #fe5c72; 
     vertical-align: middle;
    }

label{ 
      padding-left:5px;
      vertical-align: middle;
}